.lead {
  max-width: 100%;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 928px) {
  .lead{
    max-width: 928px;
  }
}

@media screen and (min-width: 1280px) {
  .lead{
    max-width: 984px;
  }
}