.cover__subtitle {
  font-size: 14px;
  line-height: 16px;
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  z-index: 5;
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 22px;
  }
}