.place__logo {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #aaa;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
  .place__logo {
   line-height: 20.4px;
  }
}