.place__logo {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaa;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .place__logo {
   line-height: 20.4px;
  }
}