.cover {
  max-width: 1184px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .cover{
    margin-bottom: 88px;
  }
}

@media screen and (min-width: 1024px) {
  .cover{
    margin-bottom: 134px;
  }
}