.cover__overlay {
  width: 100%;
  min-height: 62.5vw;
  background-color: rgba(0, 0, 0, .3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap:16px
}

.cover__overlay:hover {
  background-color: rgba(0, 0, 0, .7);
}