.lead__caption {
  text-transform: uppercase;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-bottom: 64px;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .lead__caption {
  margin-bottom: 88px;
  margin-left: 24px;
  }
}

@media screen and (min-width: 928px) {
  .lead__caption {
  margin-bottom: 92px;
  margin-left: 0;
  }
}