.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    padding-right: 48px;
    padding-left: 48px;
  }
} 


@media screen and (min-width: 1280px) {
  .footer {
    padding-right: calc((100% - 1184px)/2);
    padding-left: calc((100% - 1184px)/2);
  }
}